
body {
    margin: 0;
    height: 100vh;
}

#root {
    height: 100%;
}

#App {
    height: 100%;
    display: flex;
    flex-direction: column;

    --main-bg-color: #1f252d;
    --main-text-color: #dce5ff;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
